{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>Student Management System</title>
    {% endblock title %}
    <script>if (localStorage.getItem("sidebarCollapsed") === "true") { document.documentElement.classList.add("sidebar-collapsed");}</script>

    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'admissions/css/style.css' %}">-->
       <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
   

    <link rel="stylesheet" href="{% static 'css/admissions_css/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% block extra_css %}
    {% endblock extra_css %}
</head>
<body>
     
    <!-- Sidebar -->
    {% include "includes/sidebar.html" %}
   <div class="sidebar-overlay"></div>
    <!-- Right Side -->
    <div class="main-wrapper">

      <nav class="top-navbar">

    <div class="nav-left">

        <button class="menu-btn" id="menuToggle">
            <i class="fa-solid fa-bars"></i>
        </button>

        <div class="brand">
            <div class="logo-box">CSC</div>

            <div class="brand-text">
                <h3>CSC CRM</h3>
                <small>Institute Operations Suite</small>
            </div>
        </div>

    </div>

</nav>

<!-- White Tabs -->

<div class="top-tabs">

{% if request.resolver_match.url_name == "student" %}

    <a href="{% url 'student' %}"
       class="{% if request.resolver_match.url_name == 'student' %}active{% endif %}">
        Student Register
    </a>

{% else %}

    <a href="{% url 'fee_dashboard' %}"
       class="{% if request.resolver_match.url_name == 'fee_dashboard' %}active{% endif %}">
        Fee Management
    </a>

    <a href="{% url 'student_list' %}"
       class="{% if request.resolver_match.url_name == 'student_list' %}active{% endif %}">
        Student List
    </a>

    <a href="{% url 'search_students' %}"
       class="{% if request.resolver_match.url_name == 'search_students' %}active{% endif %}">
        Search & Filter
    </a>

{% endif %}

</div>

        {% if messages %}
        <div class="message-container">
            {% for message in messages %}
            <div class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% endif %}">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <div class="page-content">
            {% block content %}
            {% endblock %}
        </div>

    </div>

    <script src="{% static 'js/admissions_js/base.js' %}"></script>

    {% block extra_js %}
    {% endblock %}

</body>



</html>