{% extends 'leads/base.html' %}

{% block content %}
<div class="back-header">

    <a href="{% url 'leads:call_logs' %}" class="back-btn">
        <i class="fa-solid fa-arrow-left"></i>
        Back to Call Logs
    </a>

</div>


<h2 style="font-size:14px;">All Call History</h2><br/>
<div class="filter-box">

    <a href="?outcome=All"
       class="filter-btn {% if selected == 'All' %}active{% endif %}">
        All
    </a>

    <a href="?outcome=Interested"
       class="filter-btn {% if selected == 'Interested' %}active{% endif %}">
        Interested
    </a>

    <a href="?outcome=Demo Scheduled"
       class="filter-btn {% if selected == 'Demo Scheduled' %}active{% endif %}">
        Demo
    </a>

    <a href="?outcome=Not Reachable"
       class="filter-btn {% if selected == 'Not Reachable' %}active{% endif %}">
        Not Reachable
    </a>

    <a href="?outcome=Not Interested"
       class="filter-btn {% if selected == 'Not Interested' %}active{% endif %}">
        Not Interested
    </a>

</div>

<br>

<div class="history-page">

    {% for log in logs %}

    <div class="card {{ log.call_outcome|slugify }}">

        <a href="javascript:void(0);"
           class="card-link"
           onclick="openPopup(
           '{{ log.lead_name }}',
           '{{ log.call_date }}',
           '{{ log.call_time }}',
           '{{ log.duration }}',
           '{{ log.call_outcome }}',
           '{{ log.notes }}',
           '{{ log.next_followup_date }}')">

          
        <div class="card-header">
          
    <div class="user-info">

        <div class="user-icon">
            <i class="fa-regular fa-user"></i>
        </div>
        <div class="user-content">
            <h4>{{ log.lead_name }}</h4>
            <span class="badge {{ log.call_outcome|slugify }}">
            {{ log.call_outcome }}
        </span>
             <p class="user-p">{{ log.notes }}</p>

        {% if log.next_followup_date and log.call_outcome != "Not Interested" %}
            <div class="follow">
                followup date: {{ log.next_followup_date }}
            </div>
        {% endif %}

        </div>
       </div>
        
        <span class="time">
                {{ log.call_date }} • {{ log.duration }}m
        </span>
       </div>
        

    </a>  

        <form method="POST"
              action="{% url 'leads:delete_call' log.id %}"
              onsubmit="return confirm('Do you want to delete this call history?')">

            {% csrf_token %}

            <button type="submit" class="delete-btn {% if log.notes %}has-notes{% endif %}">🗑</button>

        </form>

    </div>

    {% endfor %}

</div>
<!-- Popup -->
<div id="popup" class="popup">
    <div class="popup-content">
        <span class="close" onclick="closePopup()">&times;</span>

        <h3 id="p_name"></h3>
        <p>Date: <span id="p_date"></span></p>
        <p>Time: <span id="p_time"></span></p>
        <p>Duration: <span id="p_duration"></span></p>
        <p>Outcome: <span id="p_outcome"></span></p>
        <p>Notes: <span id="p_notes"></span></p>
        <p>Followup: <span id="p_follow"></span></p>
    </div>
</div>

<script>
function openPopup(name, date, time, duration, outcome, notes, follow) {

    document.getElementById("p_name").innerText = name;
    document.getElementById("p_date").innerText = date;
    document.getElementById("p_time").innerText = time;
    document.getElementById("p_duration").innerText = duration + " min";
    document.getElementById("p_outcome").innerText = outcome;
    document.getElementById("p_notes").innerText = notes || "-";
    document.getElementById("p_follow").innerText = follow || "-";

    document.getElementById("popup").style.display = "block";
}

function closePopup() {
    document.getElementById("popup").style.display = "none";
}

window.onclick = function(e){
    if(e.target == document.getElementById("popup")){
        closePopup();
    }
}
</script>
{% endblock %}