{% load static %}
<link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
<div class="sidebar">

    <!-- Menu -->
    <ul class="sidebar-menu">

        <li>
            <a href="{% url 'staff_dashboard' %}"
   class="{% if request.resolver_match.url_name == 'staff_dashboard' or request.resolver_match.url_name == 'staff_management' or request.resolver_match.url_name == 'add_staff' or request.resolver_match.url_name == 'edit_staff' or request.resolver_match.url_name == 'overview' or request.resolver_match.url_name == 'attendance' or request.resolver_match.url_name == 'staff_profile' or request.resolver_match.url_name == 'staff_documents' %}active{% endif %}">
                <i class="fa-solid fa-users"></i>
                <span>Staff Management</span>
            </a>
        </li>
        
        {% if request.user.staff_profile.role.role_name == "Admin" or request.user.staff_profile.role.role_name == "Manager" or request.user.staff_profile.role.role_name == "Sales Exec Lead" %}
        <li>
            <a href="{% url 'leads:lead_capture_list' %}"
               class="{% if request.resolver_match.namespace == 'leads' %}active{% endif %}">
                <i class="fa-solid fa-user-plus"></i>
                <span>Leads Module</span>
            </a>
        </li>
        {% endif %}

        {% if request.user.staff_profile.role.role_name == "HR" or request.user.staff_profile.role.role_name == "Sales Exec" %}
        <li>
            <a href="{% url 'leads:lead_pipeline_view' %}"
               class="{% if request.resolver_match.namespace == 'leads' %}active{% endif %}">
                <i class="fa-solid fa-user-plus"></i>
                <span>Leads Module</span>
            </a>
        </li>
        {% endif %}

    {% if request.user.staff_profile.role.role_name == "Admin" or request.user.staff_profile.role.role_name == "Manager" %}
<li>
       
       <a href="{% url 'fee_dashboard' %}" class="{% if request.resolver_match.url_name == 'fee_dashboard' or request.resolver_match.url_name == 'student_list' or request.resolver_match.url_name == 'search_students' or request.resolver_match.url_name == 'view_student' or request.resolver_match.url_name == 'edit_student' or request.resolver_match.url_name == 'delete_student' or request.resolver_match.url_name == 'generate_receipt' or request.resolver_match.url_name == 'preview_receipt' %}active{% endif %}">
        <i class="fa-solid fa-user-graduate"></i>
        <span>Student Module</span>
    </a>
</li>
{% endif %}

 {% if request.user.staff_profile.role.role_name == "HR" or request.user.staff_profile.role.role_name == "Trainer" %}
<li>
       
       <a href="{% url 'student_list' %}" class="{% if request.resolver_match.url_name == 'fee_dashboard' or request.resolver_match.url_name == 'student_list' or request.resolver_match.url_name == 'search_students' or request.resolver_match.url_name == 'view_student' or request.resolver_match.url_name == 'edit_student' or request.resolver_match.url_name == 'delete_student' or request.resolver_match.url_name == 'generate_receipt' or request.resolver_match.url_name == 'preview_receipt' %}active{% endif %}">
        <i class="fa-solid fa-user-graduate"></i>
        <span>Student Module</span>
    </a>
</li>
{% endif %}



    {% if request.user.staff_profile.role.role_name == "Admin" or request.user.staff_profile.role.role_name == "Manager" or request.user.staff_profile.role.role_name == "HR" or request.user.staff_profile.role.role_name == "Trainer" %}
        
        <li>
              <a href="{% url 'dashboard' %}"
               class="{% if request.resolver_match.url_name == 'dashboard' or request.resolver_match.url_name == 'batches_page' or request.resolver_match.url_name == 'attendance_history' or request.resolver_match.url_name == 'absent_tracker' or request.resolver_match.url_name == 'low_attendance_alerts' or request.resolver_match.url_name == 'reports' %}active{% endif %}">
                <i class="fa-solid fa-calendar-check"></i>
                <span>Attendance Module</span>
            </a>
        </li>
        {% endif %}
          
        
        {% if request.user.staff_profile.role.role_name == "Admin" or request.user.staff_profile.role.role_name == "Manager" or request.user.staff_profile.role.role_name == "Sales Exec Lead" or request.user.staff_profile.role.role_name == "Sales Exec" %}
    
        <li>
       <a href="{% url 'student' %}" class="{% if request.resolver_match.url_name == 'student' or request.resolver_match.url_name == 'check_email' or request.resolver_match.url_name == 'check_phone' %}active{% endif %}">
        <i class="fa-solid fa-user-pen"></i>
        <span>Admission Module</span>
    </a>
</li>
{% endif %}
        

    </ul>
    <div class="sidebar-footer">
    
        <p class="sidebar-users-role"><span>Signed in as</span> {{ request.user.staff_profile.role.get_role_name_display }}</p>
        {% if request.user.is_authenticated %}
        <form method="POST" action="{% url 'staff_logout' %}">
            {% csrf_token %}
            <button type="submit" class="logout-btnn">
                <i class="fa-solid fa-right-from-bracket"></i>
                Logout
            </button>
        </form>
        {% else %}
        <a href="{% url 'staff_login' %}" class="logout-btnn" style="text-decoration:none; display:flex; align-items:center; justify-content:center; gap:8px;">
            <i class="fa-solid fa-right-to-bracket"></i>
            Login
        </a>
        {% endif %}

        <p>© 2026 CSC CRM</p>
        <small>All Rights Reserved.</small>
    </div>

</div>
<script src="{% static 'js/sidebar.js' %}"></script>