
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}

body{
    background:#f4f6fb;
}

html,
body{
    height:100%;
    overflow:hidden;
}
.page-wrapper{
    display:flex;
    min-height:100vh;
}



.logo{
    text-align:center;
    padding:25px 15px;
    border-bottom:1px solid rgba(255,255,255,.15);
}

.logo img{
    width:70px;
    margin-bottom:10px;
}

.logo h3{
    font-size:22px;
    color:#fdf625;
}

.main-wrapper{
    margin-left:250px;
    padding-top:100px;
    transition:0.3s;
     height:100vh;

    overflow-y:auto;
}

.main-wrapper.expanded{
    margin-left:70px;
}


.main-content{
    padding:20px;
    margin:0;
}
.sidebar.collapsed{
    width:70px;
}

.sidebar.collapsed span,
.sidebar.collapsed .sidebar-footer{
    display:none;
}

 .menu-btn:hover{
    background: rgba(255,255,255,0.12);
    color:white;
    box-shadow:none;
}






.content-wrapper{
    margin-left:260px;
    width:calc(100% - 260px);
    display:flex;
    flex-direction:column;
    min-height:100vh;
}




.logo-text{
    font-size:24px;
    font-weight:bold;
    color:#24196B;
}

.navbar{
    background:#24196B;
    padding:15px 30px;

    position:fixed;
    top:0;
    

    

    
}

.nav-links{
    display:flex;
    align-items:center;
    gap:15px;
}

.nav-links a{
    color:#ffffff;
    text-decoration:none;
    padding:10px 18px;
    border-radius:8px;
    font-weight:600;
    transition:0.3s;
}







footer{
    background:#17107a;
    color:#ffff;
    padding:15px 30px;
    display:flex;
    justify-content:space-between;
    border-top:1px solid #ddd;
    width: 100%;
}







.top-header,
.navbar,
.main-navbar{
   
    margin-left:240px;
    width:100%;
}




.top-navbar{

    position:fixed;
    top:0;
    left:0;

    width:100%;

    height:54px;

    background:#262170;

    display:flex;
    align-items:center;

    padding:0 25px;

    z-index:1000;

}

.nav-left{

    display:flex;
    align-items:center;
    gap:14px;

}

.menu-btn{

    background:none;
    border:none;

    color:#fff;

    font-size:20px;

    cursor:pointer;

}
.brand{
    display:flex;
    align-items:center;
    gap:12px;
}


.top-navbar{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:64px;
    background:#262170;
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding:0 16px;
    z-index:1000;
}

.nav-left{
    display:flex;
    align-items:center;
    gap:20px;
}

.menu-btn{
    background:none;
    border:none;
    color:#fff;
    font-size:20px;
    cursor:pointer;
}



.logo-box{
    width:38px;
    height:38px;
    background:#FFE600;
    color:#262170;
    border-radius:8px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:12px;
    font-weight:bold;
    flex-shrink:0;
}

.brand-text h3{
   color:#fff;
    font-size:16px;
    font-weight:700;
    margin:0;
}

.brand-text small{
    color:#d8d8d8;
    font-size:11px;
    margin:0;
}

.top-tabs{

    position:fixed;

    top:50px;

    left:250px;

    right:0;

    height:45px;

    background:#fff;

    display:flex;
    align-items:center;

    gap:35px;

    padding: 20px;

    border-bottom:1px solid #ddd;

    z-index:999;
      overflow-x:auto;

    overflow-y:hidden;

    white-space:nowrap;

    scrollbar-width:none;

}
.top-tabs::-webkit-scrollbar{
    display:none;
}

.top-tabs{
    position:fixed;
    top:64px;
    left:250px;
    right:0;
    height:45px;
    background:#fff;
    display:flex;
    align-items:center;
    gap:35px;
    padding:0 20px;
    border-bottom:1px solid #ddd;
    z-index:999;
}

.sidebar-user {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 5px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    margin-bottom: 8px;
   
}
.sidebar-user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #3b82f6;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 14px;
    flex-shrink: 0;
}
.sidebar-user-info { overflow: hidden; }
.sidebar-user-name {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.sidebar-user-role {
    font-size: 12px;
    color: #94a3b8;
}

.sidebar-user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(63, 212, 85);
}

.sidebar-user-avatar-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.top-tabs a{
    display:flex;
    align-items:center;
    height:100%;
    color:#6b7280;
    text-decoration:none;
    font-size:14px;
    font-weight:600;
    padding:0;
    border-bottom:3px solid transparent;
    transition:.3s;
}

.top-tabs a:hover{
    color:#3f3f46;
}

.top-tabs a.active{
    color:#262170;
    border-bottom:3px solid #262170;
}
.main-wrapper.expanded .top-tabs{
    left:70px;
}
.sidebar{
    transition:.3s;
}

.main-wrapper{
    transition:.3s;
}

.top-tabs{
    transition:.3s;
}
/* ==== Mobile Responsive==*/

@media (max-width:768px){

    /* Navbar */

   
    .nav-left{
    display:flex;
    align-items:center;
    gap:12px;
}

.brand{
    display:flex;
    align-items:center;
    gap:8px;
}
.top-navbar{
    height:70px;
    padding:0 15px;
}

    .logo-box{
        width:34px;
        height:34px;
        font-size:11px;
    }
.brand-text h3{
    font-size:15px;
    font-weight:700;
    white-space:nowrap;
}

.brand-text small{
    font-size:10px;
    white-space:nowrap;
}
    /* Sidebar */

    .sidebar{

        position:fixed;
        top:64px;
        left:-280px;

        width:280px;
        height:calc(100vh - 64px);

        z-index:2000;

        transition:.35s ease;

        overflow-y:auto;
    }

    .sidebar.show{
        left:0;
    }

    /* Main Content */

    .main-wrapper{
        margin-left:0 !important;
        padding-top:110px;
    }

    .content-wrapper{
        margin-left:0;
        width:100%;
    }

    /* Tabs */

    .top-tabs{

        left:0;

        top:64px;

        width:100%;

        overflow-x:auto;

        white-space:nowrap;

        gap:30px;

        padding:0 18px;

        scrollbar-width:none;
    }

    .top-tabs::-webkit-scrollbar{
        display:none;
    }

    .top-tabs a{

        flex-shrink:0;

        padding:14px 0;

        font-size:14px;
    }

}
.sidebar-overlay{

    position:fixed;

    top:0;
    left:0;

    width:100%;
    height:100%;

    background:rgba(0, 0, 0, 0.074);

    opacity:0;

    visibility:hidden;

    transition:.3s;

    z-index:1500;

}

.sidebar-overlay.show{

    opacity:1;

    visibility:visible;

}
html.sidebar-collapsed .sidebar{
    width:70px;
}

html.sidebar-collapsed .sidebar span,
html.sidebar-collapsed .sidebar .sidebar-footer{
    display:none;
}

html.sidebar-collapsed .main-wrapper{
    margin-left:70px;
}
html.sidebar-collapsed .top-tabs{
    left:70px;
}